

* {
	margin: 0;
	padding: 0;
}

body {
	overflow-y: scroll;
	background: hsl(200, 40%, 30%);
	font-weight: 400;
	font-size: 14px;
	font-family: 'Lato', sans-serif
}

ul, li {
	list-style: none;
}

.col-left {
	position: fixed;
	overflow: auto;
	margin: 10px 0 0 10px;
	padding: 10px 5px 10px 10px;
	width: 200px;
	height: 391px;
	border-radius: 3px;
	background: hsl(200, 40%, 20%)
}

.mCSB_container {
    margin-right: 20px
}

.mCSB_scrollTools .mCSB_dragger {
    height: 16px
}

.mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    height: 16px
}

ul.tabs-nav {
	margin: 0;
	padding: 0;
	border-top: 1px solid hsla(200, 100%, 100%, 0.1)
}

ul.tabs-nav li {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid hsla(200, 100%, 100%, 0.1)
}

ul.tabs-nav li:hover {
	background: hsl(200, 40%, 25%)
}

ul.tabs-nav li a {
	display: block;
	padding: 0 20px;
	height: 38px;
	color: hsla(200, 100%, 100%, 0.6);
	text-decoration: none;
	line-height: 38px
}

ul.tabs-nav li a:hover {
	color: hsla(200, 100%, 100%, 0.75)
}

ul.tabs-nav li a:active {
	outline: none
}

.tabs-group {
	position: absolute;
	top: 20px;
	left: 232px;
	padding: 0 0 76px 0;
	width: calc(99% - 232px)
}

.tabs-item {
	display: none
}

h2 a {
	background: hsla(200, 100%, 100%, 0.1);
	font-size: 14px;
	font-weight: 400;
	color: hsla(200, 100%, 100%, 1)
}

.tabs-item a {
	padding: 0 20px;
	width: inherit;
	height: 38px;
	border-bottom: 1px solid hsla(200, 100%, 100%, 0.1);
	text-decoration: none;
	line-height: 38px;
	display: block
}

.tabs-item a:hover {
	background: hsl(200, 40%, 25%)
}

.tabs-item a:first-child {
	border-top: 1px solid hsla(200, 100%, 100%, 0.1)
}

.tabs-item span.date {
	width: 65px;
	color: hsla(200, 100%, 100%, 0.25);
	display: inline-block
}

.tabs-item span.title {
	color: hsl(200, 100%, 100%)
}

